/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

@import "vendor";
@import "config";
@import "components";
@import "modules";


// ======================================================
//testing debug, move later

// ----
// Sass (v3.3.14)
// Compass (v1.0.1)
// ----

// Simple string
@debug "hello sassconf!";

// Variable interpolation
$var: "awesome";
@debug "Sass is #{$var}";

// Math (with units)
@debug 2 * 48 + 3px;

$color: red;
@debug the color is $color; //works
@debug "the color is $color"; //no works
@debug "the color is #{$color}"; //works






// =---------
// warning

// Simple warn
@warn "Hmmm, something went wrong.";

// Warn with conditional
$var: true;
@if $var == true {
  @warn "The variable passed";
}

// Warn in a mixin
@mixin print-var($var) {
    @warn "#{$var}";
}

@include print-var("Sass is Awesome!");

// Example warning in a function
@function double-width($num) {
    
    @if (type-of($num) != number) {
        @warn "Deprecated: In the future, this will fail if not a number.";
    	@error "is not a number";
    }
    @return $num;
}

.button {
    width: double-width("string");
}

// to just show the type of somethign you can use
@warn type of is type-of(blue);




// =========================================
// ERROS

//this wasn't compiling in Sass version I was using (3.2 I think)


// Example error in a function
@function double-width($num) {
    @if (type-of($num) == number) {
        @return $num * 2;
    } @else {
     //   @error "Expected a number, received a #{type-of($num)}";
        @return null;
    }
}

.button {
    width: double-width("string");
}


